# Gitignore
bureaucracie/
figures/
data/
venv/
*.pdf
bibliographie/
bowtie-optimization/
dipole-antenna/
CST_BOWTIE_OPTI_PACE/
# Latex aux files
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz